# Ignore the .env file used by docker-compose
.env

# Ignore the jwt_signing_keys.json (it contains the private key for signing the jwt)
volumes/julia-server/jwt_signing_keys.json

# Ignore the .pgpass
volumes/julia-server/.pgpass

# Ignore Linuxbrew installed in the mounted julia server volume
volumes/julia-server/linuxbrew/*
!volumes/julia-server/linuxbrew/.gitkeep

# Ignore the content of CODE in the julia server
volumes/julia-server/CODE/*
!volumes/julia-server/CODE/.gitkeep

# Ignore the content of all julia working dir except the config dir
volumes/julia-server/.julia/logs/*
volumes/julia-server/.julia/artifacts/
volumes/julia-server/.julia/clones/
volumes/julia-server/.julia/compiled/
volumes/julia-server/.julia/environments/
volumes/julia-server/.julia/packages/
volumes/julia-server/.julia/registries/
volumes/julia-server/.julia/scratchspaces/

# Ignore the content of html in the nginx server
volumes/nginx-server/html/*
!volumes/nginx-server/html/.gitkeep

# Ignore the content of the DATA dir in the julia server
volumes/julia-server/DATA/*
!volumes/julia-server/DATA/.gitkeep

# Ignore the content of the pgadmin data dir
pgadmin/pgadmin-data/*
# !pgadmin/pgadmin-data/.gitkeep

# Ignore the content of the scripts dir
scripts/config.sh
scripts/backup.log
scripts/backup1.log
scripts/backup1_exit_status_code

dockerfiles/docker-build-assets/files-from-host-user/*
!dockerfiles/docker-build-assets/files-from-host-user/.gitkeep

# Ignore the startup.jl
volumes/julia-server/.julia/config/startup.jl

# Ignore the configuration for nginx, the hostname is different for every configuration
volumes/nginx-server/conf/traquer-frontend-angular.nginx.conf

# Ignore the content of the vscode server data dir to persist the installed extensions and settings between container recreations
volumes/julia-server/vscode-server/*
!volumes/julia-server/vscode-server/.gitkeep

# Ignore the content of the pgadmin dir
pgadmin/*
